<div id="actual_path">
  /<%=link_to "home", root_path%>
  /<%=link_to @opinion.name, opinion_page_path(params[:id])%>
</div>
<div class="stat_number">
  <%=@opinion_count%>
</div>
<div class="stat_desc">
  tweets with <b><%=@opinion.name%></b>
</div>
<div class="stat_number" style="clear:none;">
  <%=@opinion_brands%>
</div>
<div class="stat_desc">
  brands with <b><%=@opinion.name%></b>
</div>
  <%
    visualization "opinion_chart", "PieChart", :width => "450",
                    :height => 300, :title => "'Opinion per Brands'",
                    :vAxis => "{title: ''}",
                    :hAxis => "{title: ''}",
                    :legend => "'bottom'",
                    :html => {:class => "class"} do |chart|
      chart.string "Brand"
      chart.number "Mentions"
      chart.add_rows(@opinions_data_for_chart)
    end
  %>

