<%=render :partial=> 'what_you_think'%>
<%= javascript_include_tag '/javascripts/slider.js' %>
<div id="container">
  <div class="title">BRANDS</div>
  <ol class="tag_cloud">
    <%if @brands.empty?%>
      <p style="float:left;margin-top:20px;clear:left;">
      Brands weren't find yet.
      </p>
    <%else%>
      <%=list_tags(@brands,"brand")%>
    <%end%>
  </ol>
  <div class="clearfix"></div>  
</div>
<div id="right_painel" style="height:500px;">
  <div class="title">STATS</div>
  <table class="thinkmeter_stats">
    <tbody>
    <tr>
      <td>
        <%=@tweet_count%>
        <span class="stats_count">tweets</span>
      </td>
      <td>
        <%=@brand_count%>
        <span class="stats_count">brands</span>
      </td>
      <td>
        <%=@opinion_count%>
        <span class="stats_count">opinions</span>
      </span></td>
    </tr>
  </tbody>
  </table>
  <div class="title">LAST MESSAGES</div>
  <div id="last_messages">
    <ul>
      <%@messages.each do |message|%>
        <li class="tweet">
          <a href="http://twitter.com/<%= message.from_user%>" target="_blank">
          <img class="rounded_img" src="<%= message.profile_img_url%>" alt="<%= message.from_user%> profile" width="46" height="46"></a>
          <b><a href="http://twitter.com/<%= message.from_user%>" target="_blank"><%= message.from_user%></a>:</b>
          <%=message.html_text%>
        </li>
      <%end%>
    </ul>
  </div>
</div>

<div id="home_chart">
  <div id="positives" style="height:<%="#{@positive_chart_height}"%>px;">
    <div class="chart_title"><%=@positive_chart_height.div 4%>%</div>
    <div class="opinions_tags">
      <ol class="tag_cloud">
        <%=list_tags(@opinions_positives,"opinion")%>
      </ol>
    </div>
  </div>
  <div id="negatives" style="height:<%="#{@negative_chart_height}"%>px;">
    <div class="chart_title"><%=@negative_chart_height.div 4%>%</div>
    <div class="opinions_tags">
      <ol class="tag_cloud">
        <%=list_tags(@opinions_negatives,"opinion")%>
      </ol>
    </div>
  </div>
</div>

