<script type="text/javascript">
  jQuey(document).ready(function(){

    jQuery(".rounded-img2").load(function() {
      jQuery(this).wrap(function(){
        return '<span class="' + jQuery(this).attr('class') + '" style="background:url(' + jQuery(this).attr('src') + ') no-repeat center center; width: ' + jQuery(this).width() + 'px; height: ' + jQuery(this).height() + 'px;" />';
      });
      jQuery(this).css("opacity","0");
    });

  });
</script>

<div id="container" style="height:300px;">
  <div class="title">BRANDS</div>
  <div id="brands_tags">
    <ol class="tag_cloud">
      <%=list_tags(@brands)%>
    </ol>
  </div>
</div>
<div id="right_painel" style="height:500px;">
  <div class="title">STATS</div>
  <div class="stat_number">5 millions</div>
  <div class="stat_desc">tweets</div>
  <div class="title">MESSAGES</div>
  <div id="last_messages">
    <ul>
      <%@messages.each do |message|%>
        <li class="tweet">
          <a href="http://twitter.com/<%= message.from_user%>" target="_blank">
          <img class="rounded-img2" src="<%= message.profile_img_url%>" alt="<%= message.from_user%> profile" width="50" height="50"></a>
          <%=message.html_text%>
        </li>
      <%end%>
    </ul>
  </div>
</div>

<div id="home_chart">
  <div id="positives" style="height:<%="#{210}"%>px;">
    <div class="chart_title">70%</div>
    <div class="opinions_tags">
      <ol class="tag_cloud">
        <%=list_tags(@opinions_positives)%>
      </ol>
    </div>
  </div>
  <div id="negatives" style="height:<%="#{90}"%>px;">
    <div class="chart_title">30%</div>
    <div class="opinions_tags">
      <ol class="tag_cloud">
        <%=list_tags(@opinions_negatives)%>
      </ol>
    </div>
  </div>
</div>
