<script type="text/javascript">
  jQuery(document).ready(function() {

	  //When page loads...
	  jQuery(".tab_content").hide(); //Hide all content
	  jQuery("ul.tabs li:first").addClass("active").show(); //Activate first tab
	  jQuery(".tab_content:first").show(); //Show first tab content

	  //On Click Event
	  jQuery("ul.tabs li").click(function() {

		  jQuery("ul.tabs li").removeClass("active"); //Remove any "active" class
		  jQuery(this).addClass("active"); //Add "active" class to selected tab
		  jQuery(".tab_content").hide(); //Hide all tab content

		  var activeTab = jQuery(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		  jQuery(activeTab).fadeIn(); //Fade in the active ID content
		  return false;
	  });

  });
</script>


<div id="actual_path">
  /<%=link_to "home", root_path%>
  /<%=link_to @brand.name, brand_page_path(params[:id])%>
</div>

<div id="center_container">
<div class="stat_number">
  <%=@brand_count%>
</div>

<div class="stat_desc">
  tweets with <b><%=@brand.name%></b>
</div>

<div>
  <%
    visualization "opinion_chart", "PieChart", :width => "450",
                    :height => 300, :title => "'Brand per Opinions'",
                    :legend => "'bottom'", :is3D => "true",
                    :html => {:class => "class"} do |chart|
      chart.string "Opinion"
      chart.number "Mentions"
      chart.add_rows(@brand_data_for_chart)
    end
  %>
</div>

<div id="stat_painel">
  <div class="title">STATS</div>
  <table class="thinkmeter_stats">
    <tbody>
    <tr>
      <td>
        <%=@brand_count%>
        <span class="stats_count">tweets</span>
      </td>
      <td>
        <%=@positive_opinion_count%>
        <span class="stats_count">positive</span>
      </span></td>
      <td>
        <%=@negative_opinion_count%>
        <span class="stats_count">negative</span>
      </span></td>
    </tr>
    </tbody>
  </table>
<BR><BR><BR><BR><BR>
<div align=center>
    <% visualization "gauge_chart", "Gauge", :width => 200, :height => 200, :title => "'brand_acceptance'",
                      :redFrom => 0, :redTo => 50, :greenFrom => 50, :greenTo => 100,
                      :html => {:class => ""} do |chart|%>
        <% chart.string "Label"%>
        <%chart.number "Value"%>
        <%value = [["Acceptance", @acceptance]]%>
        <%chart.add_rows(value)%>
    <%end %>
</div>

</div>

<div id="container" style="height:300px;width:820px;">
  <ul class="tabs">
      <li><a href="#tab1">Opinions for this brand</a></li>
      <li><a href="#tab2">Positive Messages</a></li>
      <li><a href="#tab3">Negative Messages</a></li>
  </ul>

  <div class="tab_container">
    <div id="tab1" class="tab_content">
        <div id="brands_tags">
           <ol class="tag_cloud">
             <%=list_tags(@brand_opinions,"opinion")%>
          </ol>
        </div>
    </div>

      <div id="tab2" class="tab_content">
        <UL>
        <%@positives_messages.each do |p_message|%>
          <li class="tweet">
            <b><a href="http://twitter.com/<%= p_message.from_user%>" target="_blank"><%= p_message.from_user%></a>:</b>
            <%=p_message.html_text%>
          </li>
        <%end%>
        </UL>
      </div>
      <div id="tab3" class="tab_content">
        <%@negatives_messages.each do |n_message|%>
          <li class="tweet">
            <b><a href="http://twitter.com/<%= n_message.from_user%>" target="_blank"><%= n_message.from_user%></a>:</b>
            <%=n_message.html_text%>
          </li>
        <%end%>
      </div>
    </div>
  </div>
</div>

