<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>ThinkMeter - #iThink</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= stylesheet_link_tag :all, :cache => true %>
    <%= javascript_include_tag :defaults, "prototype", "application", "control", "effects" %>
    <%= javascript_include_tag '/javascripts/jquery-1.4.2.min.js' %>
    <%= javascript_include_tag '/javascripts/jcarousellite_1.0.1.min.js' %>
	  <%= include_visualization_api %>
	  <%= render_visualizations %>
    <%= yield :head %>

    <script>
      jQuery.noConflict();
    </script>
  <body>
  </body>
    <div id ="tm">
      <%= link_to (image_tag "/images/logo_tm.png", :alt => "ThinkMeter", 
          :title =>"ThinkMeter"), root_path, :id => "logo"
      %>
      <%= yield %>      
    </div>
    <div id ="footer">
      ©<%=Time.now.year%> <b>ThinkMeter</b>. All Rights Reserved. Powered by 
      <b><i><%=link_to "Vizir", "http://www.vizir.com.br"%></i></b> during Rails Rumble 2010.
    </div>
</html>

